# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IntelliJ / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Generated
**/*.g.dart
**/*.freezed.dart

# Misc
*.iml
*.log
